@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Waterfall&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.box {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.bgDark {
  background: #282a35;
}
.textWhite{
    color: #fff;
}
.textBlack{
    color: #222222;
}
.bgGreen{
    background: #04AA6D;
}
.bgYellow{
    background: #FFF4A3;
}
.bgPink{
    background: pink;
}
.header {
  font-size: 55px;
}
.description{
    font-size: 18px;
}
.btn{
    font-size: 14px;
    width: 140px;
    padding: 9px 10px;
    text-align: center;
    border: none;
    border-radius: 20px;
    transition: all .4s ease-in;
}
.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.left{
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
}
.right{
    background: #E7E9EB;
    flex-direction: column;
    display: flex;
    gap: 20px;
    padding: 20px 10px 10px 10px;
    border-radius: 8px;
    width: 100%;
}
.code{
    background: #282a35;
}
.rightHeader{
    font-size: 24px;
    font-weight: 500;
}
.card{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px 40px;
    width: 47%;
}